<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.udg.pds.todoandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:usesCleartextTraffic="true"
        android:name=".TodoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.BLUE">

        <activity
            android:name=".activity.Login"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".activity.Register"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.UploadImage"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.NavigationMenu"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.TerritoriesMenu"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.ImageGridAdapter"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.ShowImages"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.SquareImageView"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.ImageFullScreen"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.SplashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>